body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8; /* Sayfanın genel arka plan rengi (Hafif gri) */
  display: flex;
  justify-content: center; /* Ortala */
  align-items: center;     /* Ortala */
  height: 100vh;           /* Tam ekran yüksekliği */
}